.bismillah {
    display: block;
    font-size: 70%;
    line-height: 1.0;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
body {
    display: block;
    font-size: 150%;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    text-align: right;
    margin: 0
    }
small {
    font-size: 80%;
    text-indent: 0;
    margin: 0em
}

.small {
    font-size: 90%;
    text-indent: 0;
    margin: 0em
}

.smaller {
    font-size: 80%;
    text-indent: 0;
    margin: 0em
}

.pagedata {
    direction: ltr;
    display: block;
    font-size: 60%;
    text-align: right
}
.sura {
    direction: ltr;
    display: block;
    font-size: 75%;
    font-weight: bold;
    line-height: 1.0;
    text-align: center;
    margin: 0 0 0.5em
}
.trans {
    direction: ltr;
    display: block;
    font-size: 70%;
    line-height: 1;
    text-align: left;
    text-indent: 0;
    margin: 0
 }